* {
    font-family: 'Poppins';
}
.search-bar {
    justify-content: right  ;
}
.search-bar input {
    background-color: #3D3E42;
    color: #b4b4b4;
    padding: 12px 52px 12px 20px;
    border-radius: 12px;
    justify-content: right;
    transition: 0.18s linear;
}
#search-icon {
    position: relative;
    right: 40px;
    font-size: 20px;
    color: #b4b4b4;
    height: 56px;
}


.p-40-80 {
    padding: 40px 80px;
}