.search-bar {
  justify-content: right;
}
.search-bar input {
  background-color: #3D3E42;
  color: #b4b4b4;
  padding: 12px 52px 12px 20px;
  border-radius: 12px;
  justify-content: right;
  transition: 0.18s linear;
}
#search-icon {
  position: relative;
  right: 40px;
  font-size: 20px;
  color: #b4b4b4;
  height: 56px;
}

.hamburger {
  cursor: pointer;
}
  
.hamburger input {
  display: none;
}

.hamburger svg {
  height: 3em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}


.window {
  box-shadow: 0px 6px 20px #0000005e;
}

.p-40-80 {
    padding: 40px 80px;
}
.date-bg {
  clip-path: polygon(0% 20%, 76% 20%, 100% 50%, 76% 80%, 0% 80%);
}
.project {
  transition: 1s ease-out;
}

.p-circle, .p-heading {
  transition: 0.1s ease-out;
}
.project:hover .p-heading {
  color: #FFC86B;
}

.s-m-logos div:hover::before {
  width: 40px;
  height: 40px;
}
.s-m-logos div::before {
  transition: 0.1s ease-out;
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  z-index: -1;
}
.fb-logo::before {
  background-color: #316FF6;
}
.linkedin-logo::before {
  background-color: #0077B5;
}
.x-logo::before {
  background-color: white;
}
.insta-logo::before {
  background: radial-gradient(circle at 30% 110%, 
        #ffdb8b 0%, #ee653d 25%, #d42e81 50%, #a237b6 75%, #3e57bc 100% );
}
.git-logo::before {
  background-color: black;
}


.project:hover .p-circle {
  box-shadow: 0 0 15px 2px #FFC86B;
  background-color: #FFC86B;
}

.skills::before {
  pointer-events: none;
  content: "SKILLS";
  position: fixed;
  top: 240px;
  right: -200px;
  letter-spacing: -10px;
  color: #2728291c;
  font-size: 350px;
  font-family: "poppins-extraBold";
}
.project-container::before {
  content: "PROJECTS";
  position: fixed;
  top: 240px;
  left: -200px;
  letter-spacing: -10px;
  color: rgba(14, 13, 13, 0.137);
  font-size: 300px;
  font-family: "poppins-extraBold";
  z-index: 0;
}

@media only screen and (max-width: 768px) {
  .p-40-80 {
    padding: 0 !important;
  }
}


::selection {
  color: #3D3E42;
  background-color: #FFC86B;
}